@import './mixins';
@import './variables';

.answer-tab-container {
    background-color: #fff;
    border: 1px solid rgb(222, 224, 225);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 1px 1px;
    margin: 1% auto;
    padding: 1%;
    width: 60%;
    & > * {
        font-size: 1.75vw;
        margin: 1.5% auto;
        width: 95%;
    }
}

.username, .user-answer {
    color: black;
}

.question-asked {
    a {
        font-size: 2vw;
        font-weight: bold;
        text-decoration: none;
    }
}

.user-answer-container {
    height: 50%;
    position: relative;
    .answer {
        // position: absolute;
        height: 30%;
        // overflow: hidden;
        margin: 0;
        z-index: 0;
    }
    .read-more-container {
        bottom: 0;
        color: rgb(25, 95, 170);
        display: block;
        position: absolute;
        right: 0;
        text-align: right;
        z-index: 3;
        @include hover;
    }
}
