@import './mixins';
@import './variables';

.question-container {
    width: 95%;
    margin: 0 auto;
}

#asker-container {
    color: $fontColor;
    font-size: 1.5vw;
    margin-top: 15px;
    position: relative;
    span {
        position: absolute;
        left: 7%;
        top: 0.75vw;
    }
}

#outter-question-container {
    background-color: #fff;
    border-radius: 4px;
    margin: 0 auto;
    width: 60%;
}

#question-area {
    margin: 0 auto;
    padding-top: 2%;
    width: 95%;
    textarea {
        border: none;
        border-bottom: 1px $primaryGray solid;
        font-size: 1.5vw;
        font-weight: bold;
        resize: none;
        width: 100%;
        @include removeFocus;
        &::-webkit-input-placeholder,
        &::-moz-placeholder, &:-ms-input-placeholder,
        &:-moz-placeholder
         {
            font-weight: bold;
        }
    }
}




#question-overlay-container {
    background-color: rgba(0,0,0,0.65);
    @include verticalCenter;
    height: 100%;
    position: absolute;
    z-index: 100;
    width: 100%;
}

#question-submit {
    padding: 1%;
    a {
        color: $fontColor;
        font-size: 1.5vw;
        margin-right: 20px;
        font-weight: 200;
    }
    .form-button {
        padding: 1.5%;
    }
}

#top-options {
    background-color: $primaryGray;
    border-radius: 4px;
    @include verticalCenter;
    padding: 2% 0;
    width: 100%;
    @include hover;
    #add-question-container {
        display: flex;
        justify-content: space-between;
    }
}