@import './variables';
@import './mixins';

#homepage-container {
    background-color: $primaryGray;
    height: 100%;
    padding-top: 6%;
    #asker-container {
        margin-top: 0;
    }
    #answer-feed-container {
        height: 100%;
    }
    #outter-question-container {
        border: 1px solid rgb(222, 224, 225);
        box-shadow: rgba(0, 0, 0, 0.04) 0px 1px 1px;
        padding: 1%;
    }
}

#question {
    color:  rgb(147, 149, 152);
    font-size: 2vw;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 1%;
    width: 95%;
}