#profile-dropdown {
    background-color: red;
    padding: 15px;
    position: absolute;
    top: 100%;
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        list-style: none;
    }
}