@import './variables';

#profile-dropdown {
    background-color: $primaryWhite;
    border: 1px solid #ccc;
    box-shadow: 0 3px 2px -2px rgba(200,200,200,0.2);
    position: absolute;
    top: 100%;
    right: 5%;
    width: 20%;
    ul {
        font-size: 1.5vw;
        font-weight: 800;
        margin: 0;
        padding: 0;
        li {
            padding: 5% 10%;
        }
        li:hover {
            cursor: pointer;
            background-color: $hoverGray;
        }
    }
    // div {
    //     list-style: none;
    //     text-align: center;
    //     width: 100%;
    //     &:hover {
    //         background-color: green;
    //     }
    // }
    // section {
    //     // border-top: 1px solid black;
    //     // width: 100%;
    //     // padding: 0 15px;
    // }
}