@import './variables';

#profile-dropdown {
    background-color: $primaryWhite;
    padding: 15px;
    position: absolute;
    top: 100%;
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        list-style: none;
        &:hover {
            background-color: green;
        }
    }
    section {
        border-top: 1px solid black;
    }
}