.answer-follow-container {
    display: flex;
    justify-content: space-between;
    overflow: auto;
    width: 50%;
    .interact-component {
        overflow: auto;
        width: 100%;
    }
    span {
        margin-left: 5%;
    }
}

.interact-options {
    display: flex;
    font-size: 1.5vw;
    justify-content: space-between;
    padding: 2% 0;
    width: 100%;
}

.QA-container {
    width: 70%;
}

.question-answer-page {
    color: black;
    display: flex;
    margin: 0 auto;
    // overflow: auto;
    padding-top: 5%;
    padding-left: 1%;
    width: 90%;
}

#num-answers {
    padding-bottom: 2%;
}

.answer-user-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1vw;
    .user-info {
        margin-left: 2%;
    }
}

.single-answer-container {
    font-size: 1.5vw;
    padding-top: 2%;
}

#related-q-container {
    width: 40%;
    margin-left: 4%;
    position: relative;
    #related-questions {
        h6 {
            border-bottom: 1px solid #e2e2e2;
            padding-bottom: 5%;
        }
        position: fixed;
        width: 30%;
        div {
            margin: 2% 0 0;
            width: 100%;
        }
    }
}

