@import './mixins';
@import './variables';

.answer-follow-container {
    display: flex;
    justify-content: space-between;
    overflow: auto;
    width: 50%;
    .interact-component {
        overflow: auto;
        width: 100%;
    }
    span {
        margin-left: 5%;
    }
}

.answer-button {
    @include hover;
}

.interact-options {
    display: flex;
    font-size: 1.5vw;
    justify-content: space-between;
    padding: 2% 0;
    width: 100%;
}

.QA-container {
    width: 70%;
}

#question-page-container {
    background: #fff;
    height: 100%;
    overflow: auto;
    width: 100%;
}

.question-answer-page {
    color: black;
    display: flex;
    height: 100%;
    margin: 0 auto;
    padding-top: 6%;
    padding-left: 1%;
    width: 90%;
}

#num-answers {
    padding-bottom: 2%;
}

.answer-user-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5vw;
    .answered-date {
        color: $fontColor;
        font-size: 1.25vw;
    }
    .user-info {
        margin-left: 2%;
    }
}

.single-answer-container {
    font-size: 1.5vw;
    padding: 2% 0;
}

#related-q-container {
    width: 40%;
    margin-left: 4%;
    position: relative;
    #related-questions {
        position: fixed;
        width: 30%;
        h6 {
            border-bottom: 1px solid #e2e2e2;
            padding-bottom: 5%;
        }
        div {
            font-size: 1.5vw;
            margin: 2% 0 0;
            width: 100%;
        }
    }
}

#write-answer {
    background-color: $primaryGray;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 4%;
    padding-bottom: 1%;
    width: 100%;
    form {
        height: 100%;
        width: inherit;
        button {
            @include buttonDesign;
            float: none;
            padding: 1%;
        }
        textarea {
            @include removeFocus;
            box-sizing: border-box;
            border: 1px solid #e2e2e2;
            font-size: 1.5vw;
            height: 200px;
            padding: 2%;
            resize: none;
            width: 100%;
        }
    }
}

.answer-submit-container {
    margin-left: 1.5%;
}