// Place all the styles related to the api/session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import './variables';
@import './mixins';

// the background
#login-info {
    background: url("./images/login-wallpaper.png") no-repeat center center fixed;
    background-size: cover;
    position: relative;
    height: 100%;
    @include verticalCenter;
    width: 100%;
}


#login-input-container {
    display: flex;
    justify-content: space-between;
}

// the main container that holds the content
#main-login-container {
    background-color: $primaryWhite;
    border-radius: 4px;
    box-shadow: 0 0 5px #888;
    padding: 20px;
    position: absolute;
    width: 50%;
}

#logo-info {
    text-align: center;
}

#signup-demo-container {
    border-right: 1px solid black;
    padding-right: 20px;
    width: 50%;
    button {
        display: block;
    }
}



#login-form-container {
    padding-left: 20px;
    width: 50%;
    #login-title { 
        color: #333;
        font-size: 1.5vw;
        font-weight: bold; 
    }
    input {
        background-color: $primaryGray;
        border: 1px solid #e2e2e2;
        border-radius: 3px;
        font-size: 1.5vw;
        overflow: auto; // keeps the width inside the parent
        margin: 5% 0;
        padding: 0 4%;
        width: 92%;
        &:focus {
            outline: none; // removes the active highlight
        }
    }
    button {
        background-color: #3e78ad;
        border-radius: 3px;
        color: $primaryWhite;
        float: right;
        font-size: 1.5vw;
        font-weight: bold;
        padding: 5%;
        &:hover {
            cursor: pointer;
        }
    }
}

.signup-left-side, .signup-right-side {
    background-color: greenyellow;
    border-radius: 3px;
    text-align: center;
    margin: 5% 0;
    width: 100%;
}